{% extends "base.html" %}

{% block titulo %}Agregar Proyecto{% endblock %}

{% block contenido %}
<div class="container">
    <h2>Agregar Proyecto</h2>

    <!-- Bloque para mostrar mensajes de error -->
    {% if messages %}
      <div>
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nombre_proyecto" class="form-label">Nombre del Proyecto</label>
            <input type="text" class="form-control" id="nombre_proyecto" name="nombre_proyecto" required>
        </div>
        <div class="mb-3">
            <label for="responsable" class="form-label">Responsable</label>
            <input type="text" class="form-control" id="responsable" name="responsable">
            <label for="subtexto" class="form-label">Por favor ingresa un correo electrónico valido para notificarle al responsable sobre el proyecto, si no tienes a ningún responsable para este proyecto, por favor dejar el campo en blanco.</label>
        </div>
        <div class="mb-3">
            <label for="id_estado" class="form-label">Estado</label>
            <select class="form-select" id="id_estado" name="id_estado" required>
                {% for estado in estados %}
                <option value="{{ estado.id_estado }}">{{ estado.descripcion_estado }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="id_prioridad" class="form-label">Prioridad</label>
            <select class="form-select" id="id_prioridad" name="id_prioridad" required>
                {% for prioridad in prioridades %}
                <option value="{{ prioridad.id_prioridad }}">{{ prioridad.descripcion_prioridad }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="fecha_vencimiento" class="form-label">Fecha de Vencimiento</label>
            <input type="date" class="form-control" id="fecha_vencimiento" name="fecha_vencimiento" required>
        </div>
        <div>
            <label for="porcentaje">Porcentaje de progreso:</label>
            <input type="number" id="porcentaje" name="porcentaje" min="0" max="100" value="0">
        </div>
        <button type="submit" class="btn btn-primary">Agregar Proyecto</button>
        <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}