{% extends "base.html" %}
{% extends "index" %}

<!-- formulario.html -->
<div class="modal-header">
    <h5 class="modal-title" id="taskModalLabel">Agregar/Editar Tarea</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="taskForm">
        <div class="mb-3">
            <label for="taskName" class="form-label">Nombre de la Tarea</label>
            <input type="text" class="form-control" id="taskName" required>
        </div>
        <div class="mb-3">
            <label for="taskPriority" class="form-label">Prioridad</label>
            <select class="form-select" id="taskPriority" required>
                {% for prioridad in prioridades %}
                <option value="{{ prioridad.id_prioridad }}">{{ prioridad.descripcion_prioridad }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="taskState" class="form-label">Estado</label>
            <select class="form-select" id="taskState" required>
                {% for estado in estados %}
                <option value="{{ estado.id_estado }}">{{ estado.descripcion_estado }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="taskDate" class="form-label">Fecha de Entrega</label>
            <input type="date" class="form-control" id="taskDate" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Guardar</button>
    </form>
</div>