{% extends "base.html" %}

{% block titulo %}Proyectos{% endblock %}

{% block contenido %}
<h1 class="text-center my-4">Listado de Tareas</h1>

<div class="container">
    <div class="card shadow-sm mb-4">
        <div class="card-header d-flex justify-content-between align-items-center bg-secondary text-white">
            <h4 class="mb-0">Proyectos</h4>
            <a href="{% url 'agregar_proyecto' %}" class="btn btn-light">Agregar tarea</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table table-hover table-bordered">
                    <thead class="table-info">
                        <tr>
                            <th scope="col">Tarea</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Prioridad</th>
                            <th scope="col">Fecha de vencimiento</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proyecto in proyectos %}
                        <tr>
                            <td>{{ proyecto.nombre_proyecto }}</td>
                            <td>{{ proyecto.id_estado.descripcion_estado }}</td>
                            <td>{{ proyecto.id_prioridad.descripcion_prioridad }}</td>
                            <td>{{ proyecto.fecha_vencimiento }}</td>
                            <td>
                                <a href="{% url 'actualizar_proyecto' proyecto.id_proyecto %}" class="btn btn-primary btn-sm">Editar</a>
                                <a href="{% url 'eliminar_proyecto' proyecto.id_proyecto %}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}